.teste {
  font-variation-settings: "FILL" 1;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.button {
  background-color: none;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 50%;
}
.button.link {
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.button.active {
  opacity: 100%;
}

.button_text {
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  color: #d6faff;
  font-weight: bold;
  padding-left: 10px;
}

.content_container {
  width: 75%;
  /* height: 100%; */
  gap: 15px;
  background-color: #fff;
  padding-bottom: 100px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 370px;
  align-items: start;
  justify-content: start;
  margin: 10px;
  padding: 30px;
  background-color: #fff;
  border-radius: 32px;
}

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 25%;
  gap: 20px;
  padding: 30px;
}
.navMenuDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 25%;
  background-color: #28356a;
}

.navContainer {
  display: flex;
  flex-direction: column;
  background-color: #28356a;
  margin-bottom: 10%;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.navProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: #28356a;
  margin-bottom: 12%;
  min-height: 100%;
}

.navLogo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: #8260d7;
}

.menu_title {
  color: #3c227c;
  font-weight: bold;
  margin: 0;
}

.menu_subtitle {
  color: #8260d7;
  font-size: 20px;
  margin: 0;
}

.button_item_selected {
  width: 200px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  background-color: #28356a;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.button_item_inactive {
  width: 200px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #93a9e7;
  color: #28356a;
  font-weight: bold;
}

.requestLine {
  width: 100%;
  color: #8990ad;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.divider {
  color: #8990ad;
  margin-top: 3px;
}

.pop {
  border-radius: 0;
  margin-top: 25px;
  position: relative;
  overflow: visible;
}

.logout {
  width: 112px;
  background-color: #e35f5f;
  border: 0;
  border-radius: 320px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}
.slice {
  position: absolute;
  right: 7%;
  top: -11%;
  z-index: 20;
}

.slice.right {
  right: 50%;
}

.popover {
  width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 1500px) {
  .container {
    height: 100vh;
    box-sizing: border-box;
  }
  .sectionOne {
    margin-top: 6%;
  }
  .button_item_inactive {
    width: 208px;
    height: 44px;
  }
  .button_item_selected {
    width: 208px;
    height: 44px;
  }
}

.category {
  padding-left: 30px;
  padding-top: 15px;
}

.products {
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.product {
  width: 15%;
  height: 150px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #f3f3f3;
  text-decoration: none;
  color: inherit;
}
